extends _base
block navigation
	nav.primary.hidden
		a.logo(href="/"): img.logo(src='/img/logo-white-bg-no-tagline.svg', alt='shackspace')
		.links
			a(href=url_for('/announcements')) Announcements
			a(href=url_for('/events')) Events
			a(href="#") Projects
			a(href="https://wiki.shackspace.de") Wiki
			a(href="#") Location
block content
	.hero
		#status
			| the space is
		img.logo(src='/img/logo-dark-bg.svg', alt='shackspace')
		#activites-slider
			h2 a place to
			#activities
				.text
		
		nav.links
			a(href=url_for('/announcements')) Announcements
			a(href=url_for('/events')) Upcoming Events
			a(href="#") Projects
			a(href="https://wiki.shackspace.de") Wiki
			a(href="/location") Location
	.intro
		h2 Ein Hackerwas?
		p
			b Wir sind ein Hackerspace
			| – eine offene, große Gruppe Technikaffiner, die gerne mit Soft- und Hardware spielen. Wir haben eigene Räume, in denen wir tun und lassen können, was wir wollen – coole Veranstaltungen (Hackathons, Workshops, …) ausrichten, unsere Werkstatt und unser kleines Rechenzentrum betreiben, unsere diversen Geräte (3D-Drucker, Laser, Stickmaschine, …) bespielen und verbessern, und auch einfach nett Zeit miteinander verbringen.
		p Der shack dient als sozialer Raum, als Werkstatt, #[i und] als Ort zum Lernen.

	.intro
		h2 Okay, ich will auch!
		
		p Klingt cool? Komm einfach mal vorbei – dafür musst du weder Mitglied sein noch ein Mitglied kennen. Details zur Anfahrt findest du #[a(href="/location") hier]. Wir haben keine geregelten Öffnungszeiten – guck vorher, ob der Space offen ist, wir haben fast jeden Abend aufgeschlossen.
	
	.intro
		h2 Wie funktioniert das?
		
		p Sozial funktioniert der Hackerspace sehr basisdemokratisch: alle Punkte von Relevanz für den Space werden über unsere #[a(href="https://lists.shackspace.de/mailman/listinfo/public") Mailingliste] angesprochen und im #[a(href="https://wiki.shackspace.de/plenum/start") wöchentlichen Plenum] besprochen und beschlossen.
		p Finanziell und rechtlich steht hinter dem shackspace der gemeinnützige Verein "shack e.V.", über dessen Mitgliedsbeiträge die Räume und zusätzliche Anschaffungen finanziert werden. Wir freuen uns, wenn du Mitglied werden willst – wirf einfach ein ausgefülltes #[a(href="https://wiki.shackspace.de/mitglied-werden") Beitrittsformular] in den Briefkasten im Space.
	
	#log-container-wrapper
		#log-container
	script(src="js/frontpage.js")
