extends layout

block content
	.container
		.hero
			.log: #log
			img.logo(src='img/logo-white-bg.svg', alt='shackspace')

		nav.grid
			ul
				li#door-status: a(href='#') 
					.fa
					noscript Türstatus
				li: a(href='https://blog.shackspace.de')
					.fa.fa-book
					| Blog
				li: a(href='https://wiki.shackspace.de') 
					.fa.fa-book
					| Wiki
				li: a(href='https://blog.shackspace.de/?cat=12') 
					.fa.fa-calendar
					| Events

				li: a(href='https://wiki.shackspace.de/#mitmachen_kontaktieren') 
					.fa.fa-users
					| Mitmachen
				
				li: a(href='http://log.shackspace.de')
					.fa.fa-picture-o
					| Projekte

				li: a(href='https://wiki.shackspace.de/hackerspace-ov') 
					.fa.fa-book
					| Hackerspace

				li: a(href='https://blog.shackspace.de/?page_id=713') 
					.fa.fa-map-marker
					| Location

	footer.footer
		a(href='http://blog.shackspace.de/?s=impressum') Impressum
