extends layout

block content
	.container
		.hero
			.log: #log
			img.logo(src='img/logo-white-bg.svg', alt='shackspace')

		nav.grid
			ul
				li#door-status: a(href='#') 
					.fa
					noscript Türstatus
				li: a(href='https://blog.shack.space')
					.fa.fa-book
					| Blog
				li: a(href='http://shackspace.de/wiki') 
					.fa.fa-book
					| Wiki
				li: a(href='https://calendar.google.com/calendar/embed?src=q4rffe7pskgkfc7sr3cmvcmavc@group.calendar.google.com&ctz=Europe/Berlin') 
					.fa.fa-calendar
					| Events

				li: a(href='http://shackspace.de/wiki/doku.php#mitmachen_kontaktieren') 
					.fa.fa-users
					| Mitmachen
				
				li: a(href='http://log.shackspace.de')
					.fa.fa-picture-o
					| Projekte

				li: a(href='http://shackspace.de/wiki/doku.php?id=hackerspace-ov') 
					.fa.fa-book
					| Hackerspace

				li: a(href='https://blog.shack.space/?page_id=713') 
					.fa.fa-map-marker
					| Location

	footer.footer
		a(href='http://shackspace.de/?s=impressum') Impressum
