extends layout

block content
	//- nav.top
	//- 	ul
	//- 		li: a(href='#') Blog
	//- 		li: a(href='#') Kalender
	//- 		li: a(href='#') Events
	//- 		li: a(href='#') Log
	//- 		li: a(href='#') Wiki
	//- 		li: a(href='#') Mailingliste
	//- 		li: a(href='#') All the Social websites
	//- 		li: a(href='#') Türstatus

	//- 		li: a(href='#') Hackspaceinfos
				//- - Location
				//- - Mitglied werden
				//- - Plenum
				//- - Träger und Zweck
				//- - Spenden

	#log
	img.logo(src='img/logo-white-bg.svg')


	nav.grid
		ul
			li: a(href='#')
				.fa.fa-book
				| Blog
			li: a(href='#') 
				.fa.fa-calendar
				| Kalender
			li: a(href='#') 
				.fa.fa-calendar
				| Events
			li: a(href='#') 
				.fa.fa-book
				| Log
			li: a(href='#') 
				.fa.fa-book
				| Wiki
			li: a(href='#') 
				.fa.fa-envelope
				| Mailingliste
			//- li: a(href='#') All the Social websites
			li: a(href='#') 
				.fa.fa-map-marker
				| Location

			li: a(href='#') 
				.fa.fa-book
				| Hackerspace

	//- h3 The Space is OPEN

	#door-status
		h3 the shackspace is 