doctype html
html

	head
		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
		meta(name='description', content='shackspace = der hackerspace in stuttgart &raquo; Werkstatt, Treffpunkt, Vereinsheim für Nerds &amp; freundliche Digitalkultur')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title shackspace = der hackerspace in stuttgart &raquo; Werkstatt, Treffpunkt, Vereinsheim für Nerds &amp; freundliche Digitalkultur
		link(rel="stylesheet", href="/css/vendor.css")
		link(rel="stylesheet", href="/css/default.css")

	body
		block content
		script(src="/js/vendor.js")
		script(src="/js/script.js")
