extends _base

block content
	.hero
		img.logo(src='/img/logo-dark-bg.svg', alt='shackspace')
		#activites-slider
			h2 a place to
			#activities
				div BE
		nav.links
			a(href=url_for(config.archive_dir)) Announcements
			a(href="#") Upcoming Events
			a(href="#") Projects
			a(href="https://wiki.shackspace.de") Wiki
			a(href="#") Location
	.intro
		h3 Was können wir eigentlich?
		h1 DINGE!
		#log-container-wrapper
			#log-container
	.intro
		h3 Komm einfach vorbei!
		h1 Wir beissen nicht.
	
	#status
		| the space is
	script(src="js/frontpage.js")
