extends _base

block content
	.hero
		img.logo(src='/img/logo-dark-bg.svg', alt='shackspace')
		nav.links
			a(href=url_for(config.archive_dir)) Announcements
			a(href="#") Upcoming Events
			a(href="#") Projects
			a(href="https://wiki.shackspace.de") All the Info
			a(href="#") Location
	.intro
		h2 Coden. Basteln. Werkeln. Löten. Sägen.
