@import '_settings'

footer
	box-sizing border-box
	border-top 2px solid shack-green
	width 100%
	// background-color creatale-primary
	clear both
	height footer-height
	text-align center
	font-size 0.75em
	font-family font-stack

	a
		reset-link()
		color font-color
		vertical-align sub
