@import '_settings'
@import 'jeet'

normalize-css()
base()

body, html
	margin 0
	padding 0
	max-width 100%
	// padding 50px
	// background-color shack-green
		

.logo
	margin 5vh auto
	height 40vh
	display block

a.log
	position absolute
	top 0
	height 50vh
	width 100vw
	z-index 99
	
#log
	max-width 100%
	margin 0
	position absolute
	opacity 0.4
	top 0
	height 50vh
	width 100vw
	z-index -999
	.slide
		height 50vh
		overflow hidden
		.img
			background-position center
			background-size 40vw
			height 100%
			width 100%
			// border-left 3px solid shack-green

nav.grid
	max-width 100%
	border-top 5px solid shack-green

	padding 5vh 20vw 0
	width 60vw
	ul
		margin 0
		padding 0
		li
			col(1/4, cycle:4)
			border 1px solid #DDD
			border-left 5px solid shack-green
			list-style-type none
			box-sizing border-box
			// font-size 0.8em
			margin-bottom 1em
			
			.fa
				font-size 3em
				padding 0 12px 0 0
				vertical-align middle
			
			a
				display block
				reset-link()
				padding 12px 22px
				color #333
				// vertical-align middle

		li:hover
			border 1px solid shack-green
			border-left 5px solid shack-green
			
			.fa
				color shack-green
				
#door-status
	&.status-open
		a::after
			content 'open'
		.fa::before
			content '\f00c'
			color green
	&.status-closed
		a::after
			content 'closed'
		.fa::before
			content '\f00d'
			color red
	&.status-undefined
		a::after
			content 'broken'
		.fa::before
			content '\f128'
			color yellow
			
